<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
        <activity
            android:name="com.example.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name="com.example.activity.ShowActivity"
            android:label="@string/title_activity_show"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.activity.SmsActivity"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:name="com.example.activity.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.example.activity.RingActivity"
            android:label="@string/title_activity_ring" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
